<main layout="column">
  <div>
    <form name="taskForm" id="taskForm" layout="column" layout-align="center none" layout-gt-sm="row" layout-margin>
        <md-autocomplete flex="20" required md-no-asterisk md-floating-label="タスク" md-input-name="selectedTaskname" md-selected-item="selectedTaskname" md-search-text="tSearchText" md-items="taskname in querySearch('tasknameList', tSearchText)" md-item-text="taskaname" md-min-length="0" md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="searchText">{{taskname}}</span>
          </md-item-template>
          <div ng-messages="taskForm.selectedTaskname.$error"　ng-if="taskForm.selectedTaskname.$touched">
            <div ng-message="required">この項目は必須です</div>
          </div>
          <md-not-found>
            <a ng-click="showPrompt(0, tSearchText)">新規追加</a>
          </md-not-found>
        </md-autocomplete>
        <md-autocomplete flex="20" required md-no-asterisk md-floating-label="プロジェクト" md-input-name="selectedProject" md-selected-item="selectedProject" md-search-text="pSearchText" md-items="project in querySearch('projectList', pSearchText)" md-item-text="project" md-min-length="0"　md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="searchText">{{project}}</span>
          </md-item-template>
          <div ng-messages="taskForm.selectedProject.$error"　ng-if="taskForm.selectedProject.$touched">
            <div ng-message="required">この項目は必須です</div>
          </div>
          <md-not-found>
            <a ng-click="showPrompt(1, pSearchText)">新規追加</a>
          </md-not-found>
        </md-autocomplete>
        <div layout="column" flex="10">
          <md-input-container>
            <input required md-no-asterisk name="estimated_time" id="estimated_time" placeholder="想定(m)" type="number" ng-model="estimated_time">
          </md-input-container>
          <div class="validationMessages estimatedTimeError" ng-messages="taskForm.estimated_time.$error" ng-show="taskForm.estimated_time.$touched">
            <div ng-message="required">未入力です</div>
          </div>
        </div>
        <div layout="column" flex="10" class="input_container">
          <md-datepicker required id="deadline" name="deadline" ng-model="deadline" md-placeholder="期日"></md-datepicker>
          <div class="validationMessages datepickerError" ng-messages="taskForm.deadline.$error" ng-show="taskForm.deadline.$touched">
            <div ng-message="valid">正しい形式の日付を入力してください</div>
            <div ng-message="required">未入力です</div>
          </div>
        </div>
        <md-input-container flex="5" class="input_container">
          <label>優先度</label>
          <md-select id="priority" name="priority" ng-model="priority">
          　<md-option value="high">今すぐ</md-option>
          　<md-option value="middle">なる早</md-option>
          　<md-option value="low">余裕</md-option>
          </md-select>
        </md-input-container>
        <div layout="column" flex="5" class="input_container">
          <md-button id="addButton" class="md-raised" ng-click="addTask()">
            追加
          </md-button>
          <!-- <md-switch ng-model="routineSwitch" ng-change="onRoutineChanged(routineSwitch)" aria-label="Switch">
            ルーチン
          </md-switch> -->
        </div>
    </form>
  </div>
  <md-divider></md-divider>
  <div layout="row" layout-xs="column">
    <md-table-container id="taskListbox" flex="50">
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="未完了タスク">
              <md-content class="md-padding">
                <table md-table md-row-select ng-model="rowSelected">
                  <thead md-head>
                    <tr md-row>
                      <th md-column>タスク</th>
                      <th md-column>期日</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="item" md-on-select="taskChecked" ng-repeat="item in taskList | orderBy: 'deadline'">
                      <td md-cell>
                        <span style="font-size: 0.8em;">{{ item.project }}</span><br>{{ item.taskname }}</span></td>
                      <td md-cell>
                        {{ item.deadline }}
                        <md-button ng-if="checkDate(item.deadline)" class="md-warn" ng-click="deleteButtonClicked('incomp', item.$id)">削除</md-button>
                        <md-button ng-if="!checkDate(item.deadline)" class="md-primary" ng-click="readdButtonClicked(item)">再追加</md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
              <md-tab label="完了済みタスク">
                <md-content class="md-padding">
                  <table md-table>
                    <thead md-head>
                      <tr md-row>
                        <th flex md-column>タスク</th>
                        <th flex md-column>プロジェクト</th>
                        <th flex md-column md-numeric>想定時間</th>
                        <th flex md-column md-numeric>完了時間</th>
                        <th flex md-column>差異</th>
                        <th flex md-column></th>
                      </tr>
                    </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in compTaskList">
                      <td md-cell>
                        <span style="font-size: 0.8em;">{{ item.project }}</span><br>{{ item.taskname }}</span></td>
                      <td md-cell>
                      <td md-cell>{{ item.estimated_time }}</td>
                      <td md-cell>{{ item.completion_time}}</td>
                      <td md-cell>{{ item.estimated_time - item.completion_time }}</td>
                      <td md-cell><md-button class="md-warn" ng-click="deleteButtonClicked('comp', item.$id)">削除</md-button></td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
              <md-tab label="ルーチン">
                <md-content class="md-padding">
                  <table md-table>
                    <thead md-head>
                      <tr md-row>
                        <th flex md-column>タスク</th>
                        <th flex md-column>プロジェクト</th>
                        <th flex md-column md-numeric>想定時間</th>
                        <th flex md-column></th>
                      </tr>
                    </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="item in routineList">
                      <td md-cell>
                        <span style="font-size: 0.8em;">{{ item.project }}</span><br>{{ item.taskname }}</span></td>
                      <td md-cell>
                      <td md-cell>{{ item.estimated_time }}</td>
                      <td md-cell><md-button class="md-warn" ng-click="deleteButtonClicked('routine', item.$id)">削除</md-button></td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </md-table-container>
    <div id="calendar" flex="50"></div>
  </div>
</main>
